%h4 New Goal
= form_for(@goal) do |f|
	- if @goal.errors.any? 
		%div{:id=>"errorExplanation"}
			%h2 
				= pluralize(@goal.errors.count, "error") 
				prohibited this goal from being saved:
			%ul
				= @goal.errors.full_messages.each do |msg| 
					%li= msg

	%span{:class=>"field"}= f.check_box :daily 
	%span{:class=>"field"}= f.text_field :content 
	%span{:class=>"field"}= f.submit 